@model IEnumerable<Emp_Demo.Models.Attendance>
@{
    ViewBag.Title = "AttendanceReport";
}


<h2>AttendanceReport</h2>
<h2>Attendance Report</h2>

<table class="table table-striped">
    <thead>
        <tr>

            <th>Employee Name</th>
            <th>Attendance Date</th>
            <th>Timestamp</th>
            <th>Entry Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Employeeinfo.EmployeeName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceDate)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryType)
                </td>
                

            </tr>

         }
    </tbody>
</table>




