@model EmployeeManagement.Models.Employeeinfo
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Welcome to the Admin Dashboard!</p>
<div>
    <h1>Employee Management</h1>
    <p><a href="@Url.Action("AddEmployee", "Admin")">Add Employee</a></p>

</div>
<table class="table">
  


  
