@model IEnumerable<EmployeeManagement.Models.Employeeinfo>
@{
        ViewBag.Title = "AttendanceManagement";
}

<h2>AttendanceManagement</h2>
<a href="@Url.Action("AttendanceReport", "Admin")"> Employee list  </a>


